on: push
jobs:
    test:
        runs-on: ${{ matrix.os }}
        steps:
          - uses: actions/checkout@v2
          - uses: actions/setup-node@v1
            with:
                node-version: 12.8.1
          - run: npm ci
          - if: runner.os == 'Linux'
            run: xvfb-run npm test
          - if: runner.os != 'Linux'
            run: npm test
        strategy:
            matrix:
                os:
                  - macOS-latest
                  - ubuntu-latest
                  - windows-latest
